<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="0.10.3" package="processing.test.targo_tap"><uses-sdk android:minSdkVersion="10"/><application android:debuggable="true" android:icon="@drawable/icon" android:label="Targo Tap"><activity android:name=".Targo_tap" android:screenOrientation="portrait"><intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter></activity></application></manifest>