<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="0.10.3" package="">
    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="26"/>
    <application android:debuggable="true" android:icon="@drawable/icon" android:label="Targo Tap">
        <activity android:name="Targo Tap" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
